.menuitem{
    height : 20%;
    text-align: center;
    margin: 2%;
    padding: 2%;
    line-height: 30px;
    background-color:#ffff66;
    float : left;
}
.menuitem:hover{
    background-color:#ffff19;
    height: 23%;
    line-height: 40px;
}