.cont{
    
    background-color: #f1f1f1;
    width: 100%;
    height: 70px;
    padding-top: 0px;
}

.center_tag{
    margin: auto;
    padding-top:0px;
    width: 400px;
    text-align: center;
}
.logo{
    float: left;
    font: 44px 'Arial Narrow', sans-serif;
    padding-left: 60px;
    padding-top: 5px;
}